.list {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 800px;
  max-width: 400px;
  
  @media (max-width: 320px) {
    height: auto;
    max-width: 310px;
    width: 100%;
    margin: auto;

  }
  @media ((max-width: 375px ) and ( min-width: 320px)) {
    height: auto;
    max-width: 370px;
    width: 100%;
    margin: auto;
  }
  @media ((max-width: 425px ) and ( min-width: 376px)) {
    height: auto;
    max-width: 420px;
    width: 100%;
    margin: auto;
  }
  @media ((max-width: 768px ) and ( min-width: 425px)) {
    height: auto;
    max-width: 750px;
    width: 100%;
    margin: auto;
  }
}
